<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>카메라에 접근을 허용해주세요</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard/Pretendard-Regular.ttf</string>
		<string>GmarketSansTTF/GmarketSansTTFMedium.ttf</string>
		<string>GmarketSansTTF/GmarketSansTTFBold.ttf</string>
		<string>GmarketSansTTF/GmarketSansTTFLight.ttf</string>
	</array>
	<key>GIDClientID</key>
	<string>554323776297-g9tflklfd6hudsuo1mg0guall73rtbh4.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.554323776297-g9tflklfd6hudsuo1mg0guall73rtbh4</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
</dict>
</plist>
